<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Pigs In The Clover - America's oldest mobile game</title>
  <meta name="description" content="PIGS IN THE CLOVER is America's oldest handheld 'mobile' game at over 100 years old. We brought it back, bigger, bolder, piggier! It's also no longer made of wood, steel and cardboard, but lives on in iOS and Android.">

  <link rel="stylesheet" href="{{ "css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
