<section class="section section-one">
    <div class="section-one--pitc-logo">
        <img src="../images/section-one/PITClogo.png" alt="Pigs in the Clover logo" />
    </div>
    <div class="section-one--left-col">
        <div class="section--one--itunes">
            <div class="text--white">Itunes App Store</div>
            <a class="">
                <img src="../images/social/IOSAppStoreIcon.png" alt="Apple store link" />
            </a>
        </div>
        <div class="section--one--google">
            <div class="text--white">Google Play</div>
            <a class="">
                <img src="../images/social/GooglePlayIcon.png" alt="Google Play link" />
            </a>
        </div>
        <div class="section-one--logo">
            <div class="text--white">A Game By</div>
            <a class="" href="#">
                <img src="../images/logo/ArkLogo.png" alt="Arkipolygon logo" />
            </a>
        </div>
    </div>
    <div class="section-one--right-col">
        <div class="section-one--social-container">
            <a href="#">
                <img class="section--social-image" src="{{ 'images/social/FBIcon.png' | prepend: site.baseurl }}" alt="Pigs in Clover Facebook link" />
            </a>
            <a href="#">
                <img class="section--social-image" src="{{ 'images/social/InstaIcon.png' | prepend: site.baseurl }}" alt="Pigs in Clover Instagram link" />
            </a>
            <a href="#">
                <img class="section--social-image" src="{{ 'images/social/SnapChatIcon.png' | prepend: site.baseurl }}" alt="Pigs in Clover Snap Chat link" />
            </a>
        </div>
    </div>
</section>
