<section class="section section-three">
    <div class="section-three--wrapper">
        <div class="section-three--left-col">
            <img src="../images/section-three/pitc-old-game.png" alt="old version of Pigs in the Clover" />
        </div>
        <div class="section-three--right-col text--white">
            <h2>AMERICAN LEGEND, ORIGINAL DISRUPTOR</h2>
            <p>Introduced in 1889, PIGS IN THE CLOVER quickly became the most popular game at the time. It was played everywhere - on trolley cars, pool rooms, by the paper boy on the street corner and even in the halls of congress!</p>
            <p>A true cultural phenomenon, political cartoons emerged mocking politicians who played instead of focusing on their duties!</p>
            <img src="../images/section-three/pitc-cartoons.png" alt="political cartoons of Pigs in the Clover" />
        </div>
    </div>
</section>
