<section class="section section-one">
    <div class="section-one--left-col">
        <div class="section-one--itunes">
            <a class="">
                <img class="app-store-icon" src="{{ 'images/social/iOSAppStoreIcon.png' | prepend: site.baseurl }}" alt="Apple store link" />
            </a>
        </div>
        <div class="section-one--google">
            <a class="">
                <img class="app-store-icon" src="{{ 'images/social/GooglePlayIcon.png' | prepend: site.baseurl }}" alt="Google Play link" />
            </a>
        </div>
        <div class="section-one--logo">
            <a class="" href="#">
                <img src="{{ 'images/logo/ArkLogo.png' | prepend: site.baseurl }}" alt="Arkipolygon logo" />
            </a>
        </div>
    </div>
    <div class="section-one--right-col">
        <div class="section-one--social-container">
            <a href="https://www.facebook.com/pigsintheclover/">
                <img class="section--social-image" src="{{ 'images/social/FBIcon.png' | prepend: site.baseurl }}" alt="Pigs in Clover Facebook link" />
            </a>
            <a href="#">
                <img class="section--social-image" src="{{ 'images/social/twitter.png' | prepend: site.baseurl }}" alt="Pigs in Clover Instagram link" />
            </a>
        </div>
        <iframe class="section-one--pitc-video" src="https://www.youtube.com/embed/u3H95wb2M68?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</section>
