<section class="section section-four">
    <div class="section-four--left-col">
        <h2>PIGS ARE FUN FOR ALL!</h2>
        <p>
            One hundred and twenty seven years afer it's release the new Pigs In The Clover will pay homage to the game's legendary heritage while providing new game play and style for the modern era.
        </p>
        <p>
            The game play faithfully represents the original. Pigs In The Clover is an intuitive dexterity game fun and safe for all ages. Manipulate the board (your device) and get the pigs into the center (pig pen) to win!
        </p>
    </div>
    <div class="section-four--right-col">
        <div class="section-four--boards">
            <div class="section-four--board-wrapper clearfix">
                <div class="section-four--board-description">Go back in time and play the original boards from 1889 and 1932 & try the all-new crazy pig-rolling adventures, even a Westworld inspired maze!</div>
                {% for num in (1...2) %}
                    <div class="section-four--board">
                        <img src="{{ 'images/section-four/boards/board' | append: num | append: '.png' | prepend: site.baseurl }}" alt="Pigs in the clover board {{num}}" />
                    </div>
                {% endfor %}
            </div>
            <div class="section-four--board-wrapper clearfix">
                {% for num in (3...4) %}
                    <div class="section-four--board">
                        <img src="{{ 'images/section-four/boards/board' | append: num | append: '.png' | prepend: site.baseurl }}" alt="Pigs in the clover board {{num}}" />
                    </div>
                {% endfor %}
            </div>
            <hr>
        </div>
    </div>
</section>
