<section class="section section-two">
    <div class="section-two--content">
        <p><strong>PIGS IN THE CLOVER</strong> is America's oldest handheld "mobile" game at over 100 years old.</p>
        <p>We brought it back, bigger, bolder, piggier! It's also no longer made of wood, steel and cardboard, but lives on in iOS and Android.</p>
        <div class="section-two--images">
            <img class="section-two--image" src="{{ 'images/section-two/pitc-game.png' | prepend: site.baseurl }}" alt="pigs in clover game" />
            <img class="section-two--image" src="{{ 'images/section-two/pitc-phones.png' | prepend: site.baseurl }}" alt="pigs in clover on iphone and android" />
        </div>
    </div>
</section>
