<section class="section section-five">
    <img class="section-five--icon section-five--icon-left" src="{{ 'images/section-five/pig-icon.png' | prepend: site.baseurl }}" alt="" />
    <img class="section-five--icon section-five--icon-right" src="{{ 'images/section-five/clovers-icon.png' | prepend: site.baseurl }}" alt="" />
    <div class="section-five--header">
        <h2>DOWNLOAD, PLAY, CONNECT WITH US!</h2>
    </div>
    <div class="section-five--content clearfix">
        <div class="section-five--cols section-five--col-one">
            <p>
                PIGS IN THE CLOVER ~ Coming soon
            </p>
            <div class="section-five--app-icon">
                <div class="text--white">iTunes App Store</div>
                <a class="">
                    <img src="{{ 'images/social/iOSAppStoreIcon.png' | prepend: site.baseurl }}" alt="Apple store link" />
                </a>
            </div>
            <div class="section-five--app-icon">
                <div class="text--white">Google Play</div>
                <a class="">
                    <img src="{{ 'images/social/GooglePlayIcon.png' | prepend: site.baseurl }}" alt="Google Play link" />
                </a>
            </div>
        </div>
        <div class="section-five--cols section-five--col-two">
            <p>
                Connect with the Piggies:
            </p>
            <a class="section-five--social" target="_blank" href="https://www.facebook.com/pigsintheclover/">
                <img class="section--social-image" src="{{ 'images/social/FBIcon.png' | prepend: site.baseurl }}" alt="Pigs in the Clover Facebook link" />
            </a>
            <a class="section-five--social" target="_blank" href="https://twitter.com/PigsInTheClover">
                <img class="section--social-image" src="{{ 'images/social/twitter.png' | prepend: site.baseurl }}" alt="Pigs in the Clover Instagram link" />
            </a>
        </div>
        <div class="section-five--cols section-five--col-three">
            <p>
                For press release and inquiries please contact Dave Thek: <span class="section-five--email">davethek1@gmail.com</span>
            </p>
        </div>
    </div>
</section>
