@mixin section-background($type, $background) {

    @if $type == 'image' {
        background: url($background) no-repeat;

    } @else {
        background: $background no-repeat;
    }

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 600px;
}
