@mixin section-background($type, $background) {

    @if $type == 'image' {
        background: url($background) no-repeat center center fixed;
    } @else {
        background: $background no-repeat center center fixed;
    }

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
